# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# code editor folders
.vscode/
.idea/

# build
dist/
web-build/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# typescript
*.tsbuildinfo

# lock files
# Disabled because we build source for application not library
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Logs file
logs/
